{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('app_home') }}" class="btn btn-primary mb-3">Retour à l'accueil</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_category_new') }}">Create new</a>
    {% endif %}
{% endblock %}
