{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <h3>Products in this Category:</h3>

    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('app_product_show', { 'id': product.id }) }}">{{ product.name }}</a>
            </li>
        {% else %}
            <li>No products available in this category</li>
        {% endfor %}
    </ul>
<a href="{{ path('app_home') }}" class="btn btn-primary mb-3">Retour à l'accueil</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_category_index') }}">Back to list</a>
        <a href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
        {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
