{% extends 'base.html.twig' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Inscription</h2>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            {{ form_widget(form.register) }}
        {{ form_end(form) }}
        <div class="text-center mt-3">
            <a href="{{ path('login') }}" class="text-decoration-none text-black">Déjà inscrit ? Connectez-vous</a>
        </div>
    </div>
</div>
{% endblock %}
